/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sp-black: rgb(0, 0, 0);
    --sp-white: rgb(255, 255, 255);
    --sp-primary: rgb(20, 25, 34);
    --sp-dark: rgb(40, 40, 40);
    --sp-light: rgb(163, 163, 163);
    --sp-bar-dark: rgb(90, 90, 90);
    --sp-bar-light: rgb(193, 193, 193);
    --sp-success: rgb(173, 255, 47);
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

main {
    background-color: var(--sp-primary);
}

footer {
    background-color: var(--sp-dark);
    position: sticky;
    z-index: 100;
}

h2,
h5 {
    color: var(--sp-white);
}

h5 {
    font-size: 0.8rem;
    padding: 0.75rem 0;
}

/* #endregion common */





/* #region main */

main {
    height: calc(100vh - 100px);
}

.upgrade_banner {
    width: calc(100% - 220px);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
}

.upgrade_banner:hover {
    width: calc(100% - 236px);
    right: 1rem;
}

.upgrade_container {
    padding: 0 1rem;
}

.upgrade_banner:hover .upgrade_container {
    padding: 0;
}

.main_container {
    overflow-y: auto;
}

/* aside */
aside {
    height: 100%;
    width: 220px;
    background-color: var(--sp-black);
    font-weight: bold;
}

aside .logo {
    height: 70px;
    padding-top: 1rem;
    padding-left: 1rem;
}

aside .logo img.big_logo {
    width: 70%;
}

aside .logo img.small_logo {
    max-height: 40px;
}

.aside_top {
    color: var(--sp-light);
    font-size: 0.75rem;
}

.navigations .row {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.navigations .row.active {
    border-left: 1px solid var(--sp-success);
    color: var(--sp-white);
}

.navigations .row.active img {
    filter: none;
}

.icon_label img {
    width: 25px;
    height: 100%;
    filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(151deg) brightness(91%) contrast(91%);
}

.playlist {
    padding: 1rem 0 1rem 1rem;
    
    height: 250px;
    overflow-y: auto;
}

.playlist h4 {
    color: var(--sp-white);
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.playlist .plus {
    background-color: var(--sp-light);
    color: var(--sp-black);
    padding: 0.5rem;
}

.playlist .plus i {
    font-weight: 900;
}

.playlist li {
    padding-top: 1rem;
}

.aside_bottom {
    padding: 0 1rem;
    font-size: 0.75rem;
}

.install {
    color: var(--sp-light);
    border-bottom: 1px solid var(--sp-bar-light);
}

.artist {
    color: var(--sp-white);
    font-weight: bold;
}


.install, .artist {
    padding: 1rem 0;
} 

.artist_avatar {
    background-color: var(--sp-light);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.artist_avatar img {
    object-fit: cover;
    width: 60%;
}

aside .label:hover, aside .create_playlist:hover, aside li:hover, .install:hover {
    cursor: pointer;
    color: var(--sp-white);
}

aside .create_playlist:hover .plus {
    background-color: var(--sp-white);
}

/* /aside */

/* main_container */
/* nav */
.filter {
    font-size: 0.75rem;
}

.filter li {
    padding-top: 1rem;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}

.filter li:hover {
    color: white;
}

.filter li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--sp-success);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* /nav */

.main_container {
    padding-top: 70px;
    height: 100%;
    width: calc(100% - 220px);
}

.main_container .row {
    margin: 0 -1rem;
}

.main_container .caption>div,
.suggestion,
.filter {
    color: var(--sp-light);
}

.main_container .caption>div,
.suggestion {
    font-size: 0.65rem;
    font-weight: bold;
}

.suggestion {
    padding: 1rem 0;
}

#popular .container_cover img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.container_cover {
    position: relative;
}

.container_cover>.icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.container_cover.circle_img>.icon {
    border-radius: 50%;
}

.container_cover:hover .icon {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.container_cover:hover i {
    display: block;
}

.container_cover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    display: none;
}


/* /main_container */


/* #endregion main */





/* #region footer */

footer {
    height: 100px;
}


/* #endregion footer */





/* #region utilities */

/* flex */
.d-flex {
    display: flex;
}

.d_col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.row {
    display: flex;
}

/* /flex */

.list-unstyled {
    list-style: none;
}

.text-center {
    text-align: center;
}

.col-lg-2 {
    width: calc(100% / 12 * 2);
}

.d-none {
    display: none;
}

/* spacing */
.p-2 {
    padding: 1rem;
}

.pt-2 {
    padding-top: 1rem;
}

/* /spacing */

/* btns */
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
}

.btn-dark {
    background-color: var(--sp-black);
    color: var(--sp-white);
    border: 1px solid var(--sp-white);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
}

.btn-dark:hover {
    font-size: 0.9rem;
}

/* /btns */


/* #endregion utilities */





/* #region media query */


@media screen and (max-width: 992px) {

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

}

@media screen and (max-width: 768px) {

    .col-sm-6 {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    aside.width-sm {
        width: 50px;
    }

    .main_container {
        width: calc(100% - 50px);
    }

    .upgrade_banner {
        width: calc(100% - 50px);
    }

    .d-block-sm {
        display: block;
    }

    .d-none-sm {
        display: none;
    }

    .install.size-sm {
        font-size: 0.8rem;
        justify-content: center;
    }

    .aside_bottom.size-sm {
        padding: 0;
    }

    .artist.size-sm {
        justify-content: center;
    }

   
}









/* #endregion media query */








/* #region debug */

.debug main {
    background-color: red;
}


.debug aside {
    background-color: blue;
}

.debug .main_container {
    background-color: aqua;
}

.debug nav {
    background-color: red;
    min-height: 30px;
}

.debug nav li {
    background-color: orange;
}

.debug footer {
    background-color: black;
}

.debug .aside_top,
.debug .aside_bottom {
    min-height: 100px;
    background-color: lime;
}

.debug #recent [class^="col-"] {
    background-color: yellow;
}

.debug .btn {
    background-color: red;
}

.debug footer>div {
    background-color: red;
    min-height: 50px;
    min-width: 100px;
}

/* #endregion debug */